{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'fileapp:uploads' %}" method="POST" enctype="multipart/form-data">
        <input type="text" name ="filename" placeholder="enter your file name">
        <input type="file" multiple name="uploadfoles">
        {%csrf_token%}
        <button type="submit">File Upload</button>
    </form>
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        {% if files %}
        {% for file in files %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/media/{{ file.myfiles }}/">{{ file.myfiles }}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}